body {
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

div.wrapper {
    width: 600px;
    height: 600px;
    background-color: rgba(0, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 120px -50px cyan, inset 0px 0px 100px -50px cyan;
}

div.result-box {
    justify-content: center;
}

div.titleWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

div.wordWrapper {
    font-size: 30px;
}

div.meaningWrapper {
    display: flex;
    justify-content: space-between;
    
}

div.definitionWrapper {
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 20px;
}

div.phraseWrapper {
    display: grid;
}

p.phoneticText {
    font-style: italic;
}

p.type {
    font-size: 30px;
}

p.error {
    margin-top: 50px;
}

p1 {
    background-color: rgb(100, 100, 100);
    padding: 10px;
    font-size: 30px;
    box-shadow: inset 0px 0px 8px black;
    border-radius: 5px;
}

button {
    border: none;
    font-size: 25px;border-style: outset;
    border-width: 5px;
    background-color: rgb(200, 200, 200);
}

input {
    font-size: 30px;
    width: 260px;
    border-radius: 5px;
}

button.search-btn {
    width: 95px;
    height: 55px;
    border-radius: 5px;
}

button.type-btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

button.definition-btn {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    border-radius: 25px;
}

i {
    color:rgba(255, 255, 255, 0.6);
    display: block;
    font-size: 20px;
}

button:hover {
    background-color: rgb(100, 100, 100);
    color: white;
}

button:active {
    border-style: inset;
    font-size: 20px;
    box-shadow: inset 0px 0px 8px black;
    border-width: 7px;
}